body{
    background-color: rgb(238, 247, 247);
}

.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:460px;
    margin-top:10%;
}

.form-group>input{
    width:400px;
}

#save_btn{
    
    width:300px;
    padding:10px 20px;
    margin-left:50px;
    border-radius: 20px;
    border:none;
    background-color: rgb(223, 157, 103);
    font-weight: 600;
    color:white;
}

h4{
    text-align: center;
}
h4 a{
    font-size:25px
}
.or{
    font-weight: 700;
}